*{
    margin: 0;
    padding: 0;
}
html,
body {
  height: 100%;
}
.app{
    display: flex;
    flex-direction: column;
    height: 100%;
}
.container{
    max-width: 1280px;
    width: 80%;
    margin: 0 auto;
    
}
.promo{
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: x-large;
  color:  rgb(81, 5, 152);
}
.header__wrapper{
    display:  flex;
    margin: 15px 0 15px 0;
}
.nav__items{
    display: flex;
    list-style: none;
    margin-left: 220px;
}
.nav__item{
    padding: 15px;
    border-radius: 10px;
  
}
.nav__item:hover{
    background-color: #F6F7F8;
   
}
.nav__item>a{
    text-decoration: none;
    padding: 10px;
    color: black;
}
.nav__item>a:hover{
    color: rgb(81, 5, 152);
}

.main{
    flex: 1 0 auto;
    overflow: hidden;

   
}
.search{
  position: relative;
  width: 60px;
  height: 60px;
  background: #fff;
  border-radius: 60px;
  transition: 0.5s;
  box-shadow: 0 0 0 5px rgb(81, 5, 152);;
  margin-left: auto;
  margin-right: auto;
  margin-top: 150px;
  overflow: hidden;
}
.icon{
  position: absolute;
  top: 0;
  left: 0;
  width: 60px;
  height: 60px;
  background: #fff;
  border-radius: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 888;
  cursor: pointer;
}
.icon::before{
  position: absolute;
  content: '';
  width: 15px;
  height: 15px;
  border: 3px solid rgb(81, 5, 152);;
  border-radius: 50%;
  transform: translate(-2px, -2px);
}
.icon::after{
  position: absolute;
  content: '';
  width: 3px;
  height: 12px;
  border: 3px solid rgb(81, 5, 152);;
  border-radius: 50%;
  transform: translate(8px, 8px) rotate(-45deg);
}
.active{
  width: 360px; 

}
.input{
  position: relative;
  width: 300px;
  height: 60px;
  left: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.input__search{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: none;
  font-size: 18px;
  padding: 10px 0;
}
.input__search:active, :hover, :focus {
  outline: 0;
  outline-offset: 0;
}
.contacts__image img{
  animation: motion 2s;
  animation-timing-function:cubic-bezier(0.175, 0.885, 0.32, 1.2555);
  
  animation-iteration-count: 1;
}
@keyframes motion {
  0% {
    transform: translateX(-88px);
  }
}


/* .clear{
  position: absolute;
  top: 50%;
  right: 15px;
  width: 15px;
  height: 15px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
transform: translateY(-50%);
}
.clear::before{
  content: '';
  position: absolute;
  width: 1px;
  height: 15px;
  background-color: #0000;
  transform: rotate(45deg);
}
.clear::after{
  content: '';
  position: absolute;
  width: 1px;
  height: 15px;
  background-color: #0000;
  transform: rotate(-45deg);
} */ 

.main__img{
  background-image: url(../image/6_blog.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  height: 100%;
  border: 1px solid rgb(246, 241, 241);
}
.footer{
    padding: 22px 20px 40px;
    background-color: #534747;
    flex: 0 0 auto;
    border-top: 1px solid  #3e4753;
}

/* *********************************************************************************************************** */

.catalog__items{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: space-around;
}
.catalog__item{
    width: calc(33.33% - 40px);
    list-style: none;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
    display: flex;
    padding: 10px;

}
/* .ctalog__item:hover{
    background-color: rgb(151, 150, 150);
    opacity: 0.1;
} */
.catalog__item__image{
    width: 250px;
}
.catalog__item__image img{
    height: 250px;
    max-width: 250px;
}
.catalog__item__title{
    text-decoration: none;
    color: black;
}
.catalog__item__title:hover,.catalog__item__add__cart:hover,.go__back__btn:hover,.cart__delete__button:hover{
  opacity: 0.8;
   cursor: pointer;
   
}
.catalog__item__add__cart,.go__back__btn,.product__add__cart,.cart__delete__button{
    width: 100px;
    height: 40px;
    border: none;
    background-color:  rgba(81, 5, 152,0.7);;
    color: #fff;
    border-radius: 5px;
    margin: 10px;
    
}
.go__back__btn{
  background-color: #fff;
  color: rgba(81, 5, 152,0.7);
  border: 1px solid rgba(81, 5, 152,0.7); ;
}
.go__back__btn:hover{
  background-color:  rgba(81, 5, 152,0.7);;
    color: #fff;
    transition: 1s;
   
}
.product__wrapper{
   display: flex;
   flex-direction: column;
    align-items: center;
    padding: 20px;
}
.cart__item{

    display: grid;
    grid-template-columns: 1fr 2fr 90px 73px;
    align-items: center;
    margin: 50px;
}

.footer__wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.footer__logo p{
    color: #fff;
    font-weight: bold;
    padding: 10px;
}
.footer__pay a{
    padding: 20px;
    text-decoration: none;
}
.footer__text{
    text-align: center;
}

/* ************************************************** */
.row {

  display: flex;
  flex-wrap: wrap;
  margin: 10px -43px;

}

.col-25 {
  -ms-flex: 25%; /* IE10 */
  flex: 25%;
}

.col-50 {
  -ms-flex: 50%; /* IE10 */
  flex: 50%;
}

.col-75 {
  -ms-flex: 75%; /* IE10 */
  flex: 75%;
}

.col-25,
.col-50,
.col-75 {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container__buy {
  background-color: #f2f2f2;
  padding: 5px 20px 15px 20px;
  border: 1px solid lightgrey;
  border-radius: 3px;
}

.input__text{
  width: 50%;
  margin-bottom: 20px;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 3px;
}

label {
  margin-bottom: 10px;
  display: block;
}

.icon-container {
  margin-bottom: 20px;
  padding: 7px 0;
  font-size: 24px;
}

.btn {
  background-color: #4CAF50;
  color: white;
  padding: 12px;
  margin: 10px 0;
  border: none;
  width: 100%;
  border-radius: 3px;
  cursor: pointer;
  font-size: 17px;
}

.btn:hover {
  background-color: #45a049;
}

span.price {
  float: right;
  color: grey;
}

/* Responsive layout - when the screen is less than 800px wide, make the two columns stack on top of each other instead of next to each other (and change the direction - make the "cart" column go on top) */
@media (max-width: 800px) {
  .row {
    flex-direction: column-reverse;
  }
  .col-25 {
    margin-bottom: 20px;
  }
}.total__price{
  text-align: right;
    font-size: xx-large;
    padding: 10px;
}